.navbar
{
  background-color: gray;
  border-radius: 30px;
 
}
.navbar ul
{
  overflow: auto;
  

}

.navbar li{
  float: left;
  list-style: none;
  margin: 16px 4px;
  
}

.navbar li a{
  text-decoration: none;
  color: white;
  padding: 7px 16px;
}

.navbar li a:hover{
  color: red;
}

.items-contact{
  float: right;
  color: white;
  padding: 13px 75px;
  
}

.items-contact input{

  border-radius: 13px;
  padding: 3px 30px;
  margin: 5px;


}